body {
    font-family: 'Poppins', sans-serif;
    /* overflow-y: auto; */
  }
  .plan-section{
    margin-bottom: 15px;
  }
  .main-content {
    color: black;
    justify-content: unset; 
   }

   .main-content p {
    color: white;
    margin-bottom: 10px; 
  }

  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
  }
  
  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .username {
    font-size: 30px;
    font-weight: bold;
  }
  .points{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    border: 0.5px solid rgba(231, 229, 229, 0.738);
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(218, 216, 220, 0.574) ;
    padding: 2px;
    padding-right: 3px;
    }
  .points-pic{
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .score{
    margin-left: -12px;
    font-size: 20px;
    font-weight: 150px;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    border-radius: 10px; 
    box-shadow: 1px 2px 3px lightgray;
  }
  
  .card img {
    width: 35%; 
    height: auto; 
    object-fit: cover;
  }
  
  .listening {
    background-color: #50C3EF;
    width: 30%;
  }
  #quiz-total-points-pic{
    width: 20px;
  }
  #quiz-total-points-score{
    font-size: 15px;
  }
/* Overlay Style */
  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

/* Popup Content Style */
  .popup-content {
    background-color: #fefefe; 
    width: 30%; 
    height: 70%;
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-y: auto;
  }
  .popup-content p {
    color: black;
  }
/* Question Style */
  .question {
    margin-bottom: 20px; 
  }
  .quiz-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
  }

/* Close Button Style */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

/* Optional Button Styling Inside Popup */
  .popup-content button {
    margin-top: 15px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #967ff5; 
    color: #fff;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
  }

  .popup-content button:hover {
    background-color: #795deb; 
  }
  #confirmPopup .popup-content{
    width: 20%;
    height: 37%;
    text-align: center;
  }
  #confirmSubmitPopup .popup-content{
    width: 20%;
    height: 30%;
    text-align: center;
  }


/* Score Popup Content Style */
  #scorePopup .popup-content {
    width: 20%;
    height: 40%;
    text-align: center;
  }
  #quiz-points{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    border: 0.5px solid rgba(231, 229, 229, 0.738);
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(218, 216, 220, 0.574) ;
    padding: 2px;
    padding-right: 3px;
    margin-left: 40%;
    }
  #quiz-points-pic{
    width: fit-content;
    height: 30px;
    margin-right: 15px;
  }
  #totalScore{
    margin-left: -12px;
    margin-right: 4px;
    font-size: 20px;
    font-weight: 150px;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }
  
  .reading {
    background-color: #ec87cb;
    width: 30%;

  }
  
  .learn-words {
    background-color: #967ff5;
    width: 30%;
  }
  #gamespopupOverlay .popup-content {
    width: 20%;
    height: 50%;
    position: relative; 
    overflow: auto; 
  }

  #gamesForm h2 {
      margin-bottom: 20px;
      text-align: center;
  }

  #gamesForm ul {
      list-style-type: none;
      padding: 0;
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px; 
  }

  #gamesForm ul li {
      text-align: center;
  }

  #gamesForm ul li button {
      text-decoration: none; 
      font-size: 18px;
      padding: 20px; 
      border: 2px solid #967ff5; 
      border-radius: 5px; 
      background-color: #967ff5; 
      transition: background-color 0.3s, color 0.3s; 
      color: white;
      box-shadow: 1px 2px 3px lightgray; 
      display: block; 
      height: 100%;
  }

  #gamesForm ul li button:hover {
      background-color: transparent; 
      color: #967ff5; 
  }
  #gamesForm .quiz-buttons{
    margin-left: 10px;
  }

  #gameInfoPopup .popup-content {
    width: 25%; 
    height: auto; 
    text-align: center;
  }
  #wordGuessingGame .popup-content {
    width: 20%;
    height: 20%;
    text-align: center;
  }
  #spellingBeeGame .popup-content {
    width: 20%;
    height: 25%;
    text-align: center;
  }
  #wordAssociationGame .popup-content {
    width: 20%;
    height: 25%;
    text-align: center;
  }
  #scrambledWordsGame .popup-content {
    width: 20%;
    height: 25%;
    text-align: center;
  }


  
  .training-section {
    width: 100%; 
  }

  .training-section .card {
    background-color: #cec4fa;
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    padding-left: 3%;
  }
  .training-section .cards{
    height: 60%;
  }
  
  .card.grammar img{
    width: 30%;
    padding-right: 30px;

  }
  .challenge-pic{
    width: 100px;
    height: 100px;
  }
#challengePopupOverlay .popup-content{
  text-align: center;
  height: 35%;
}
#challenge-points{
  margin-left: 40%;
}
  button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 1px 2px 3px lightgray;
  }

  button:hover {
    background-color: lightgrey;
  }
  
  @media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;

  }
  .main-content{
    width: 98%;
  }
  .card {
    margin-bottom: 20px;
    width: 90%;
  }
}
