* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.ris {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
}

/* Slideshow styles */
.slideshow-container {
  max-height: 80vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  /*background-color: #e4dee8;*/
  height: 80vh; /* Adjust the height of the hero section */
}

.hero-text {
  margin-left: 10%;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3.5em;
  text-shadow: 3px 3px #afa6bb;
  margin-bottom: 30px;
  color: #2b1a5e;
}

.hero-text p {
  margin-bottom: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: #5b5374;
}

.buttons {
  display: flex;
  gap: 15px;
}

.button {
  background-color: #3d2679;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2a1b57;
}

.chatbot-image {
  margin-right: 5%;
}

.chatbot-image img {
  width: 500px;
  height: 550px;
  max-height: 100%; /* Ensure the image does not overflow */
}

/* Slideshow dot styles */
.slideshow-dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.slideshow-dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.slideshow-dots .dot:hover, .slideshow-dots .dot.active {
  background-color: #717171;
}
.hero:nth-child(1) {
  background: url('../images/purple-pastel-color-textures-gradient-background-for-cover-print-and-web-design-free-vector.jpg') no-repeat center center/cover;
}
.hero:nth-child(2) {
  background: url('../images/background2.jpg') no-repeat center center/cover;
}

.hero:nth-child(3) {
  background: url('../images/background1.jpg') no-repeat center center/cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 50px;
  background-color: #ffffff;
  border-bottom: 3px solid #dcdcdc;
}

.nav-links {
  display: flex;
  list-style: none;
  flex-grow: 1; 
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Logo */
.logo a {
  font-size: 24px;
  color: #7d3cff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding: 25px 20px 25px 20px;
}

.nav-links a:hover {
  color: #7d3cff;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.signup-btn,
.login-btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #7d3cff;
  font-weight: bold;
  color: #7d3cff;
  transition: 0.3s;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: #7d3cff;
  color: white;
}

.login-btn {
  background-color: #333;
  color: white;
  border: 2px solid #333;
}

.login-btn:hover {
  background-color: #7d3cff;
  border-color: #7d3cff;
}

#logo-icon{
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #dcc2ff;
      gap: 10px;
      z-index: 10;
      margin-top: 14px;
  }
  .hero:nth-child(1), .hero:nth-child(2),
  .hero:nth-child(3) {
    background: url('../images/purple-pastel-color-textures-gradient-background-for-cover-print-and-web-design-free-vector.jpg') no-repeat center center/cover;
  }

  .hero:nth-child(1) .chatbot-image {
    display: none;
  }
  .navbar{
    padding: 15px 15px
  }
  .logo{
    flex-grow: 10;
  }
  .auth-buttons {
      gap: 10px;
      margin-top: 10px;
      margin-left: 5%;
      padding-right: 0;
  }

  .nav-links li {
      text-align: center;
      padding: 15px 0;
  }

  .ris {
      display: flex;
  }

  .nav-links li a {
      color: black;
      border: none;
  }

  .nav-links.active {
      display: flex;
  }

  .hero {
      flex-direction: column;
      text-align: center;
      height: auto;
  }

  .hero-text {
      max-width: 100%;
      margin-left: 0;
  }

  .chatbot-image {
      margin-right: 0;
      margin-top: 20px;
  }

  .chatbot-image img {
      width: 80%;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.hamburger .bar {
  width: 20px;
  height: 2px;
  background-color: #7d3cff;
}

/* Responsive Menu Toggle */
@media (max-width: 768px) {
  .hamburger {
      display: flex;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      text-align: center;
      padding: 15px 0;
  }
}

/* chatbot Section */
.chatbot-section {
  padding: 80px 50px;
  background-color: #f9f9f9;
}

.chatbot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.chatbot-text {
  flex: 1;
  max-width: 50%;
  margin-right: 20%;
}

.chatbot-text h2 {
  font-size: 4rem;
  color: #7d3cff;
  font-weight: bold;
  margin-bottom: 20px;
}

.chatbot-text p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.chatbot1-image {
  flex: 1;
  max-width: 50%;
}

.chatbot1-image img {
  width: 60%;
  height: auto;
}













/* Core Features Section */
.features-section {
  padding: 80px 50px;
  background-color: #f0f5fa;
  text-align: center;
  position: relative;
}

.features-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.features-section p {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.feature-item {
  text-align: center;
  position: relative;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00cfff;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.large-circle {
  width: 200px;
  height: 200px;
}

.medium-circle {
  width: 150px;
  height: 150px;
  background-color: #4dcfff;
}

.small-circle {
  width: 100px;
  height: 100px;
  background-color: #00a8ff;
}

.feature-title {
  font-weight: bold;
  margin: 10px 0;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
































.pricing-plans {
  text-align: center;
  padding: 60px 20px;
  background-color: #f8f9fa;
}

.pricing-plans h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-shadow: 2px 2px #afa6bb;
  color: #2b1a5e;
}

.pricing-plans p {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #777;
}


.toggle-buttons {
  margin-bottom: 30px;
}


.toggle-btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #7d3cff;
  font-weight: bold;
  color: #7d3cff;
  transition: 0.3s;
  cursor: pointer;
}


.toggle-btn.active {
  background-color: #333;
  color: white;
  border: 2px solid #333;
}


.toggle-btn:hover {
  background-color: #7d3cff;
  color: white;
  border-color: #7d3cff;
}


.plans-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
}

.plan {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

.plan.popular {
  background: linear-gradient(-45deg, #6f3cba, #b28dd6); 
  color: white;
}

.plan.popular .plan-btn {
  background-color: #333;
  color: white;
  border: 2px solid #333;
}

.plan.popular .plan-btn:hover {
  background-color: #7d3cff;
  border-color: #7d3cff;
}

.plan h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.plan .price {
  font-size: 2em;
  margin-bottom: 20px;
}

.plan-btn {
  margin: 20px 0; 
  padding: 12px 20px; 
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #7d3cff;
  color: #7d3cff;
}

.plan-btn:hover {
  background-color: #7d3cff;
  color: white;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  margin: 10px 0;
  font-size: 1em;
  color: #333;
}

.features-list li.disabled {
  color: #ccc;
  text-decoration: line-through;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .plans-container {
    flex-direction: column; 
    align-items: center;
  }

  .plan {
    width: 90%; 
  }

  .pricing-plans h1 {
    font-size: 2em; 
  }

  .pricing-plans p {
    font-size: 1em;
  }

  .plan h3 {
    font-size: 1.3em;
  }

  .plan .price {
    font-size: 1.8em;
  }
}






/**********************************/









.block-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-image: linear-gradient(-45deg, #883cba, #ca8dd6);
  color: white;
}

.block-content {
  margin-right: 100px;
  max-width: 500px;
}

.block-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.block-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-btn {
  background-color: white;
  color: #0058FF;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #e0e0e0;
}

.block-image {
  flex-shrink: 0; 
  padding-left: 20px; 
}

.block-img {
  width: 60%; 
  height: auto; 
}




/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .block-section {
    flex-direction: column; 
    text-align: center; 
    padding: 20px;
  }

  .block-content {
    margin: 0;
    max-width: 100%; 
  }

  .block-content h1 {
    font-size: 28px; 
  }

  .block-content p {
    font-size: 16px;
  }

  .cta-btn {
    padding: 12px 20px;
    font-size: 14px;
  }

  .block-image {
    padding-left: 0;
    margin-bottom: 20px; 
  }

  .block-img {
    width: 80%; 
  }
}

@media (max-width: 480px) {
  .block-content h1 {
    font-size: 24px; 
  }

  .block-content p {
    font-size: 14px;
  }

  .block-img {
    width: 100%; 
  }

  .cta-btn {
    padding: 10px 18px;
    font-size: 12px;
  }
}



































a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #5b428f;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #9954b7;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #8756b6;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #8756b6;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
